* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body, html {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 2000px;
}

nav div ul.navbar-nav li a.nav-link{
    color:#151515;
}

.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FCFCFC;
    background: rgba(0, 0, 0, 0.3); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 0 3.7vw;
}

.searching {
    position: relative;
}

.searching .search {
    position: absolute;
    top: 2.55rem;
    left: 1.5vh;
    width: 1rem;
    height: 1rem;
}

.input {
    margin-top: 3.5vh;
    border-color: transparent;
    padding: .25rem .5rem;
    padding-left: 5vh;
    width: 100%;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 6vh;
    margin-top: 11.94vh;
}

.card-content {
    width: 44vw;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .input {
        margin-top: 1vh;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
    }

    .card-content {
        width: 90vw;
    }

    .searching .search {
        position: absolute;
        top: 1.35rem;
        left: 1.5vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .input {
      margin-top: 2vh;
    }

    .card-wrapper {
        margin-top: 5vh;
    }
  }