* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 2000px;
}

nav div ul.navbar-nav li a.nav-link{
  color:#151515;
}

.img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FCFCFC;
  background: rgba(0, 0, 0, 0.3); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  margin-top: 11.76vh;
  padding: 0 3.64vw;
  font-size: 2rem;
}

.content-image {
  margin-top: 10.3vh;
  padding: 0 6.66vw;
  width: 100%;
}

.footer {
  margin-top: 17.6vh;
  width: 100%;
  height: 56.66vh;
  padding: 12.22vh 3.64vw 0 3.64vw;
}

@media screen and (max-width: 768px) {
  .content-container {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content-container {
    font-size: 1.5rem;
  }
}