* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

nav {
    z-index: 1000; 
}

.video-header {
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

video {
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); 
    overflow: hidden; 
}

/* Header */
.text h2.header {
    color: var(--BG, #FCFCFC);
    text-shadow: 0px 2.767px 2.214px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(0, 0, 0, 0.07);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 2vw;
}

.text p {
    color: var(--BG, #FCFCFC);
    text-shadow: 0px 2.767px 2.214px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(0, 0, 0, 0.07);
    font-family: Roboto;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    font-size: 2vw;
}

.video-header .overlay .text {
    position: absolute;
    max-width: 80%;
    bottom: 100px;
    left: 50px;
    color: white; /* Adjust the text color as needed */
}
/* data mobile */
.data-mobile{
    display: none;
}

.data {
    position: absolute;
    top: 5%;
    right: 50px;
    width: 282px;
    height: 586px;
    z-index: 10;
    flex-shrink: 0;
    border-radius: 36px;
    background: #FCFCFC;
    box-shadow: 0px 2.613px 2.09px 0px rgba(0, 0, 0, 0.02), 0px 6.278px 5.023px 0px rgba(0, 0, 0, 0.03), 0px 11.821px 9.457px 0px rgba(0, 0, 0, 0.04), 0px 21.088px 16.87px 0px rgba(0, 0, 0, 0.04), 0px 39.442px 31.554px 0px rgba(0, 0, 0, 0.05), 0px 94.409px 75.527px 0px rgba(0, 0, 0, 0.07);
}

.data img {
    width: 53.6px;
    height: 40.2px;
    flex-shrink: 0;
}

.data .desc h4 {
    color: var(--Blue, #0395D9);
    /* leading-trim: both;
    text-edge: cap; */
    font-family: Roboto;
    font-size: 23.04px;
    font-style: normal;
    font-weight: 600;
    line-height: 50.4px; /* 218.75% */
}

.data ul li {
    width: auto;
}

.data ul li img {
    padding-right: 15px;
}

.value h3 {
    color: #E28D26;
    font-family: Roboto;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
}

.value p {
    color:  #B8B8B8;
    font-family: Roboto;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.kotak {
    border-radius: 5px;
    background: #E28D26;
    box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 280px;
    height: 250px;
    flex-shrink: 0;
    transition: .2s;
}

.kotak .isi img{
    width: 89px;
    height: 81.796px;
    flex-shrink: 0;
}


.kotak .isi p {
    color: var(--BG, #FCFCFC);
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.kotak:hover {
    background-color: #432e14;
}

/* services */

.service-desc .title h5 {
    color: var(--Blue, #0395D9);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 218.75% */
}
.service-desc .subtitle p {
    color: var(--Orange, #E28D26);
    font-family: Roboto;
    font-size: 48px;
    font-style: italic;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
}

.service-desc .kotak {
    border-radius: 8px;
    background: #E28D26;
    box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 432px;
    height: 176px;
    flex-shrink: 0;
    transition: .2s;
    cursor: pointer;
}
.service-desc .kotak:hover {
    background-color: #432e14;
}

.service-card {
    padding: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--White, #F8F8F8);
    box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}

.service-card .image {
    width: 100% !important;
    height: 763px;
    flex-shrink: 0; 
    border-radius: 8px;
    background-image: url('../img/service.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-desc .kotak p {
    color: var(--White, #F8F8F8);
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px; /* 250% */
}


/* Projects */
.projects .head-projects .title h4 {
    color: var(--Blue, #0395D9);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 218.75% */
}

.projects .head-projects .title a {
    color: var(--Black, #181818);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 350% */
    text-decoration-line: underline;
}

.projects .subtitle p {
    color: var(--Orange, #E28D26);
    font-family: Roboto;
    font-size: 48px;
    font-style: italic;
    font-weight: 600;
    line-height: 70px; /* 145.833% */
}

.projects .direction .previous.btn img{
    height: 30px;
    flex-shrink: 0;
}

.projects .direction .previous.btn {
    width: 176px;
    height: 83px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid var(--Orange, #E28D26);
}

.projects .direction .previous.btn:hover {
    background-color: #ffce91;
}   

.projects .direction .next.btn {
    color: var(--White, #f8f8f8);
    text-align: justify;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 250% */
    width: 245px;
    height: 83px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--Orange, #E28D26);
}

.projects .direction .next.btn:hover {
    background: var(--Orange, #b06c19);

}

.projects .direction .next.btn img{
    height: 30px;
    flex-shrink: 0;
}

.projects .card {
    width: 856px;
    height: 585px;
    flex-shrink: 0;
    transform: scale(1);
    transition: .2s;
    cursor: pointer;
}

.projects .card:hover {
    transform: scale(1.03);
}

.projects .card .card-body {
    background-color: #E28D26;
    position: relative;
}

.projects .card .card-body p {
    color: var(--BG, #FCFCFC);
    text-align: justify;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.projects .card .card-body img {
    width: 23px;
    height: 32px;
}

.projects .card .brand .name {
    position: absolute;
    bottom: 0;
    color: var(--BG, #FCFCFC);
    font-family: Roboto;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
}

.projects .card .brand .location {
    position: absolute;
    bottom: 0;
    right: 20px;
    color: var(--BG, #FCFCFC);
    font-family: Roboto;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
}

/* service-desc new*/
.services .link-see{
    color: black;
    margin-left: 18px;
    font-size: 14px;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.service-card{
    height: 100% !important;
    margin: 0 !important;
}

.service-desc{
    padding-right: 0 !important;
}

.service-desc .service-text{
    height: 30%;
}

.service-desc .service-kotak{
    height: 70%;
}

.service-kotak .row{
    height: 28% !important;
    margin-top: 5% !important;
}

.service-desc .kotak{
    width: 45% !important;
    height: 100% !important;
}

/* projects new */
.custom-hr {
    width: 100px;
    transform: translateY(-30px);
    border-top: 3px solid black !important; /* Warna garis dan ketebalan */
}

/* products new */
.products .next.btn {
    color: var(--White, #f8f8f8);
    text-align: justify;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 250% */
    width: 245px;
    height: 83px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--Orange, #E28D26);
}

.products .next.btn:hover {
    background: var(--Orange, #b06c19);

}

.products .next.btn img{
    height: 30px;
    flex-shrink: 0;
}

/* start products */

.products .previous.btn img{
    height: 30px;
    flex-shrink: 0;
}

.products .previous.btn {
    width: 176px;
    height: 83px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid var(--Orange, #E28D26);
}

.products .previous.btn:hover {
    background-color: #ffce91;
}

.products .previous.btn.flip img{
    transform: scaleX(-1);
}

.products .products-image .card:hover{
    transform: scale(1.01);
    cursor: pointer;
}
/* end products */

/* ready */
.cta{
    background-image: url('../img/img.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100vw;
    position: relative;
}

.cta .button-cta:hover{
    background-color: rgb(166, 161, 161) !important;
}

.cta .button-cta{
    z-index: 3;
}
.cta h3{
    position: relative;
    z-index: 2;
}

.cta::after{
    position: absolute;
    content: "After";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
}
/* end ready */

/* articles */
.btn-articles{
    transform: scale(0.6) translateX(0px) !important;
}
/* end articles */

/* want to know more */
/* ready */
.wta{
    background-image: url('../img/wtm-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100vw;
    position: relative;
}

.wta h3{
    position: relative;
    z-index: 2;
}

.mid{
    width: 50%;
    z-index: 100;
}

.wta::after{
    position: absolute;
    content: "After";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
}
/* end ready */
/* end want to know more */

/* clients */
.container-client{
    padding: 10px 0;
    display: flex;
    overflow-x: auto;
}

.container-client::-webkit-scrollbar{
    width: 0;
}

.container-client::-webkit-scrollbar-thumb{
    display: none;
    background-color: #E28D26;
    border-radius: 10px;
}

.card-client{
    border-radius: 10px;
    width: 256px;
    height: 288px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end clients */

/* Responsive */

/* Header */
@media screen and (max-width: 1700px ) {
    .value h3 {
        color: #E28D26;
        font-family: Roboto;
        font-size: 28px;
        font-style: italic;
        font-weight: 600;
        line-height: 40px; /* 145.833% */
    }
    .value p {
        color:  #B8B8B8;
        font-family: Roboto;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    .kotak .isi p {
    font-size: 23px;
    }

    .service-desc .kotak p {
        color: var(--White, #F8F8F8);
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        /* line-height: 70px; 250% */
    }

    .service-desc .title h5 {
        color: var(--Blue, #0395D9);
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        /* line-height: 70px; 218.75% */
    }
    .service-desc .subtitle p {
        color: var(--Orange, #E28D26);
        text-align: left;
        font-family: roboto;
        font-size: 29px;
        font-style: italic;
        font-weight: 600;
        line-height: 40px; /* 145.833% */
    }

    .service-card .image {
        width: 460px;
        height: 663px;
        flex-shrink: 0; 
        border-radius: 8px;
        background-image: url('../img/service.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}


/* Header */
@media screen and (max-width: 1641px ) {

    .service-card .image {
        width: 460px;
        height: 663px;
        flex-shrink: 0; 
        border-radius: 8px;
        background-image: url('../img/service.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-card {
        padding: 30px;

    }

    .service-desc .kotak {
        width: 400px;
        height: 176px;
    }
}


@media screen and (max-width: 1281px ) {
    
}

@media screen and (max-width: 920px ) {
    .data {
        top: -15%;
        transform: scale(0.7);
    }
    .value h3 {
        color: #E28D26;
        font-family: Roboto;
        font-size: 24px;
        font-style: italic;
        font-weight: 600;
        line-height: 40px; /* 145.833% */
    }
    .value p {
        color:  #B8B8B8;
        font-family: Roboto;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    .service-desc .title h5 {
        color: var(--Blue, #0395D9);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 70px; /* 218.75% */
    }
    .service-desc .subtitle p {
        color: var(--Orange, #E28D26);
        text-align: left;
        font-family: Roboto;
        font-size: 24px;
        font-style: italic;
        font-weight: 600;
        line-height: 30px; /* 145.833% */
    }

    .service-desc .row .kotak:last-child {
        margin-top: 1.5rem;
    }

    .service-card {
        width: 100%;
        margin: 0;
    }

    .service-card .image {
        width: 100%;
        height: 480px;
    }

    .service-desc {
        display: block;
        width: 100%;
    }

    .service-desc .kotak {
        width: 100%;
    }

    .products .products-image .card{
        width: 30rem !important;
    }
    
    .video-header .overlay .text {
        top: 20%;
    }

    .video-header .overlay .text .header {
        font-size: 24px;
    }
    .video-header .overlay .text p{
        font-size: 18px;
    }

    .service-desc .row .kotak:last-child {
        margin-top: 0px !important;
    }

    .footer h1{
        margin-top: 24px;
        font-size: 24px;
    }
    .footer ul li a{
        font-size: 12px;
    }

    .footer .copyright{
        font-size: 12px;
    }

    .footer img{
        width: 100% !important;
    }

    .card-client{
        width: 160px;
        height: 180px;
    }
}

@media screen and (max-width: 780px ) {
    .data {
        display: none;
    }

    /* data mobile */
    .data-mobile{
        display: inherit;
    }

    .data-mobile .card-mobile{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .data-mobile .card-mobile:hover{
        box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3) !important;
        cursor: pointer;
    }
    .value h3 {
        color: #E28D26;
        font-family: Roboto;
        font-size: 25px;
        font-style: italic;
        font-weight: 600;
        line-height: 35px; /* 145.833% */
    }
    .value p {
        color:  #B8B8B8;
        font-family: Roboto;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    .service-desc .title h5 {
        color: var(--Blue, #0395D9);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 70px; /* 218.75% */
    }
    .service-desc .subtitle p {
        color: var(--Orange, #E28D26);
        text-align: left;
        font-family: Roboto;
        font-size: 24px;
        font-style: italic;
        font-weight: 600;
        line-height: 30px; /* 145.833% */
    }

    .service-desc .row .kotak:last-child {
        margin-top: 0px !important;
    }

    .service-card .image {
        height: 300px;
    }

    .products .products-image .card{
        width: 25rem !important;
    }

    
    .projects .direction .previous.btn img{
        height: 20px;
    }

    .projects .direction .previous.btn {
        width: 120px;
        height: 60px;
    }

    .projects .direction .next.btn {
        color: var(--White, #f8f8f8);
        text-align: justify;
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 250% */
        width: 180px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 50px;
        background: var(--Orange, #E28D26);
    }

    .projects .direction .next.btn img{
        height: 20px;
    }

    .projects .card{
        width: 500px;
        height: 200px;
    }

    .mid{
        width: 90%;
        z-index: 100;
    }

    .footer h1{
        margin: auto;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .footer ul li a{
        font-size: 12px;
    }

    .footer .copyright{
        font-size: 12px;
    }

    .footer img{
        width: 100% !important;
    }

    .card-client{
        width: 96px;
        height: 108px;
    }
}

@media screen and (max-width: 600px ) {
    .service-desc .service-kotak{
        height: 100%;
    }
    
    .service-kotak .row{
        height: 30% !important;
        margin-top: 10px !important;
    }
    
    .service-desc .kotak{
        width: 100% !important;
        height: 40% !important;
    }

    .services .service-text .title h5{
        margin-top: 5rem;
        font-size: 30px;
    }
    .services .service-text .subtitle p{
        font-size: 22px;
    }

    .btn-articles{
        transform: scale(0.6) translateX(-100px) !important;
    }

    .card-client{
        width: 64px;
        height: 72px;
    }
}